.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    text-decoration: none;
  }
}

.logo__text {
  color: #ffffff;
}

.logo__bigText {
  font-size: 28px;
  line-height: 28px;
  text-align: left;
}

.logo__smallText {
  color: #979797;
  font-size: 11px;
  line-height: 11px;
}
